@import "styles/_Common.scss";

.m-inhabi {
    display: none;
    max-width: 768px;
    min-width: 360px;
    width: 100%;
    background-color: #e0e0e0;
    padding-bottom: 40px;
    justify-content: center;
    margin-top: 24px;
    & > .content {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 320px;
        & > h2 {
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            padding-top: 38px;
            padding-bottom: 2px;
        }
        & > div {
            display: inline-block;
            background-color: #fff;
            max-width: 154px;
            min-height: 158px;
            max-height: 158px;
            height: 158px;
            width: 100%;
            margin-top: 13px;
            & > h3 {
                display: inline-block;
                font-size: 16px;
                line-height: 26px;
                font-weight: bold;
                margin-top: 16px;
                margin-left: 24px;
                & > span {
                    position: relative;
                    font-weight: normal;
                    font-size: 16px;
                }
                & > span::after {
                    content: "";
                    position: absolute;
                    width: 16px;
                    border: 2px solid #000000;
                    bottom: -16px;
                    left: 0;
                }
            }
            & > p {
                margin-top: 21px;
                margin-left: 24px;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.4);
            }
        }

        & > div:last-child {
            min-width: 320px;
            max-width: 320px;
            width: 320px;
            background: url("../../../assets//images/cat_2.png"), #fff;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 80px;
        }

        & > div:nth-child(odd) {
            margin-left: 6px;
        }
        & > div:nth-child(even) {
            margin-right: 6px;
        }
    }
}

@include media("<=medium", ">=small") {
    .m-inhabi {
        display: flex;
    }
}
