.compare {
    width: 1070px;
    min-width: 360px;
    height: 842px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

    & > .compare-header {
        width: 1070px;
        min-width: 100%;
        height: 56px;
        background: #16bdc6;
        padding-left: 32px;
        display: table-cell;
        vertical-align: middle;
        & > p {
            font-weight: 500;
            font-size: 18px;
            color: #fff;
        }
    }
    & > .compare-body {
        & > table {
            border: 1px solid #e0e0e0;
            border-spacing: 0;
            margin: 32px;

            border-collapse: collapse;
            & > tbody {
                & > tr {
                    & > td:first-child {
                        background: #fafafa;
                        font-size: 14px;
                        width: 144px;
                    }
                    & > td {
                        border: 1px solid #e0e0e0;
                        height: 48px;
                        text-align: center;
                        & > img {
                            margin: 20px 20px 9px 20px;
                        }
                        & > h1 {
                            font-weight: 500;
                            font-size: 16px;
                            text-align: center;
                        }
                        & > p {
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 20px;
                        }
                        & > span {
                            display: block;
                            font-weight: 500;
                            font-size: 16px;
                            text-align: center;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
