@import "styles/_Common.scss";

.filter-wrap {
    display: none;
}

@include media("<=medium", ">=small") {
    .filter-wrap {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        overflow-y: scroll;
        & > .filter-header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            border-bottom: 1px solid #e0e0e0;
            background-color: #fff;
            & > h2 {
                font-family: Noto Sans KR;
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                text-align: center;
                transform: translateX(85%);
            }

            & > .ham-menu {
                width: 40px;
                height: 40px;
                border: 1px solid #e0e0e0;
                border-radius: 3px;
                justify-content: center;
                align-items: center;
                position: relative;
                float: left;
                top: 37%;
                transform: translateY(-50%);
                display: flex;
                flex-wrap: wrap;
                padding: 0 11px;
                left: -5px;

                & > .line {
                    position: absolute;
                    width: 18px;
                    margin: 0px 0;
                    border: 1px solid #323232;
                    height: 0px;
                    transform: rotateZ(45deg);
                }
                & > .line:nth-child(2) {
                    transform: rotateZ(-45deg);
                }
            }

            & > div {
                float: right;
                margin-left: 140px;
                font-family: Noto Sans KR;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                color: rgba(0, 0, 0, 0.3);
                & > img {
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }
        & > .filter-body {
            width: 100%;
            height: calc(100% + 23px);
            margin-top: 24px;
            display: block;
            background-color: #fff;
            & > div {
                overflow-y: scroll;
                max-width: 768px;
                min-width: 320px;
                margin: 0 20px;
                height: 100%;
                width: 320px;

                & > div {
                    display: block;
                }

                & > .vrhouse {
                    margin-top: 48px;
                }

                & > .trade-type {
                    border-right: 0px solid #e0e0e0;
                    & > h3 {
                        margin-bottom: 16px;
                        font-size: 16px;
                    }
                    & > div {
                        display: flex;
                        justify-content: space-between;
                        & > label {
                            display: block;
                            margin: 8px 0;
                            & > div {
                                text-align: center;
                                line-height: 40px;
                                font-size: 13px;
                                width: 99px;
                                height: 40px;
                                border-radius: 3px;
                                border: 1px solid #e0e0e0;
                                background-color: #fff;
                                transition: 0.5s all;
                            }
                            & > input[type="checkbox"] {
                                display: none;
                            }
                            & > input:checked ~ div {
                                transition: 0.5s all;
                                color: #fff;
                                background-color: #16bdc6;
                                border-color: #16bdc6;
                            }
                        }
                        & > label:last-child {
                            margin-bottom: 12px;
                        }
                    }
                }

                & > .deposit {
                    margin-top: 48px;
                    & > h3 {
                        position: relative;
                        margin-bottom: 16px;
                        font-family: Noto Sans KR;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    & > h3:nth-child(1)::after {
                        content: "2000~최대";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        color: #16bdc6;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                    }
                    & > h3:nth-child(4) {
                        margin-top: 40px;
                    }
                    & > h3:nth-child(4)::after {
                        content: "최대";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        color: #16bdc6;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                    }
                    & > .range-helper {
                        width: 100%;
                        margin-top: 8px;
                        font-family: Noto Sans KR;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.3);
                        display: flex;
                        justify-content: space-between;
                        & > span {
                            width: 32px;
                        }
                        & > span:nth-child(1) {
                            margin-right: 32px;
                        }
                        & > span:nth-child(3) {
                            margin-left: 32px;
                        }
                        & > span:nth-child(2) {
                            position: relative;
                            display: inline-block;

                            margin: 0 32px;
                        }
                        & > span:nth-child(2)::before {
                            content: "";
                            position: absolute;
                            left: -32px;
                            height: 12px;
                            border-left: 2px solid rgba(0, 0, 0, 0.3);
                        }
                        & > span:nth-child(2)::after {
                            content: "";
                            position: absolute;
                            right: -32px;
                            height: 12px;
                            border-right: 2px solid rgba(0, 0, 0, 0.3);
                        }
                    }
                }

                & > .residency {
                    max-width: 527px;
                    max-height: 192px;
                    margin-top: 48px;
                    width: 100%;
                    border-left: 0px solid #e0e0e0;
                    & > h3 {
                        margin-bottom: 16px;
                        font-size: 16px;
                        height: 20px;
                    }

                    & > div {
                        & > label {
                            width: calc(100% / 4);
                            display: inline-block;

                            & > div {
                                text-align: center;
                                line-height: 40px;
                                font-size: 13px;
                                display: block;
                                max-width: 100%;
                                height: 40px;

                                border: 1px solid #e0e0e0;
                                background-color: #fff;
                                transition: 0.5s all;
                            }
                            & > input[type="checkbox"] {
                                display: none;
                            }
                            & > input:checked ~ div {
                                transition: 0.5s all;
                                color: #fff;
                                background-color: #16bdc6;
                                border-color: #16bdc6;
                                border-radius: 3px 0px 0px 3px;
                            }
                        }
                    }
                    & > div:nth-child(2) {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    .apply {
        margin-top: 32px;
        width: 100%;
        height: 48px;
        background: #16bdc6;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}
