@import "styles/_Common.scss";

.base {
    min-width: 1024px;
}

@include media("<=medium", ">=small") {
    .base {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }
}
