@import "~include-media/dist/include-media";

$breakpoints: (
    small: 360px,
    medium: 768px,
    large: 1024px
);

// $primary: (
//     color: white,
//     background: #0b245d
// );
// $primary-invert: (
//     color: #0b245d,
//     background: white
// );

// $button: (
//     backgorund: #f3f3f3
// );
